/*
    This styleshit is to combine bootstrap's css and costumize rule and creat new classes

    Author: Alberto Moreno González
    Date: 26/01/2022
    Repository: 
    Version: 1.0

*/

@font-face {
    font-family: 'Cinzel'; 
    src: url("../fonts/Cinzel-VariableFont_wght.ttf"); 
}

.titlefont {font-family:'Cinzel';}

/*     general layout     */

#logo {width:48px;}

body {
    background-image:url('../images/background.jpg');
    background-size: cover;
    background-size: 75%;
}

.navbar {
    z-index:1020;
}

#wrapper {
    width: 95%!important;
}

#title {position: absolute;
    width:400px;
    top: 100px;
    right: 100px;
    z-index: 99;
}

h1 {
    color: rgb(11, 78, 77);
    text-align: left;
    font-family: 'Cinzel';
    font-size: 2em;
    text-shadow: 2px 2px 1px #25282c,
                    -1px 1px 1px #25282c,
                    1px -1px 1px #25282c,
                    -1px -1px 1px #25282c;
}

.lightgreen {
    background-color:rgb(205, 230, 229);
}